<template>
  <div class="sessions-wrapper container">
    <h1>Сеанси</h1>
    <div class="sessions-block">
      <session-item v-for="item in movies" :item="item" :sessions="sessions[item.id]" :key="item.id" >
      </session-item>

    </div>
  </div>
</template>

<script>
import sessionItem from "~/components/SessionItem";
export default {
  name: "index",
  data(){
    return{
      sessions:[],
      movies:[]
    }
  },
  components:{sessionItem},
  methods:{
    async getSessions(){
      const sessionsList = await this.$axios.$get(`https://cinema-api-test.y-media.io/v1/movieShows`)
      if (!sessionsList.error) {
        this.sessions = sessionsList.data
        console.log(sessionsList.data, 'sessions')
      } else {
        console.log(sessionsList.error)
      }
    },
    async getAllMovies() {
      const moviesList = await this.$axios.$get('https://cinema-api-test.y-media.io/v1/movies')
      if (!moviesList.error) {
        this.movies = moviesList.data
        console.log(moviesList.data)
      } else {
        console.log(moviesList.error)
      }
    }
  },
  mounted() {
    this.getSessions()
    this.getAllMovies()
    console.log(this.$route.params.session)
  }
}
</script>

<style scoped>

</style>
