<template>
  <div class="book-tiket-wrapper">
    <div class="book-tiket-window">
      <div class="dialog" v-if="!tiketKey">
        <div class="title">Ваш квиток:</div>
        <div class="date"><div>Дата сеансу:</div><div>{{tiketData.showdate}}</div></div>
        <div class="time"><div>Час початку сеансу:</div><div>{{tiketData.daytime}}</div></div>
        <div class="row"><div>Ряд:</div>
          <div>
            <select @change="seats = selectedRow[1], selectedSeat = null" v-model="selectedRow">
              <option v-for="item in rows" :value="item">{{ item[0].row }}</option>
            </select>
          </div>
        </div>
        <div class="seat"><div>Місце:</div>
          <div>
            <select v-model="selectedSeat">
              <option v-for="item in seats" v-if="item.is_free">{{ item.seat }}</option>
            </select>
          </div>

        </div>
        <div class="buttons sb">
          <button class="close" @click="closePopup()">Закрити</button>
          <button :class="{accept: CompleateData}" @click="bookTiket">Підтвердити замовлення</button>
        </div>
      </div>
      <div v-else>
        <div class="title">Зустрінемось в кінозалі</div>
        <div class="tiket-num">Номер твого квитка:</div>
        <div class="tiket-num">{{tiketKey}}</div>
        <div class="buttons fc">
          <button @click="closePopup()" class="accept" >До зустрічі</button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "BookTiket",
  data(){
    return{
      rows:[],
      seats:[],
      selectedRow:null,
      selectedSeat:null,
      tiketKey:null
    }
  },
  computed:{
      tiketData(){
        return this.$store.state.tiketData
      },
      CompleateData(){
        if(!this.selectedRow || !this.selectedSeat){
          return false
        }
        return true
      }
  },
  methods:{
    closePopup(){
      this.$store.dispatch('setTiketData', null)
    },
    async getPlaces(){
      const placesList = await this.$axios.$get(`https://cinema-api-test.y-media.io/v1/showPlaces?movie_id=${this.tiketData.movieId}&daytime=${this.tiketData.daytime}&showdate=${this.tiketData.showdate}`)
      if (!placesList.error) {
        console.log(placesList.data)
        this.rows = placesList.data
      } else {
        console.log(placesList.error)
      }
    },
    async bookTiket(){
      if(!this.CompleateData){
        return
      }
      const bookTiket = await this.$axios.post(`https://cinema-api-test.y-media.io/v1/bookPlace` ,{
          "movie_id": this.tiketData.movieId,
          "row": this.selectedRow[0].row,
          "seat": Number(this.selectedSeat),
          "showdate": this.tiketData.showdate,
          "daytime": this.tiketData.daytime
        }
      )
      if (!bookTiket.error) {
        this.tiketKey = bookTiket.data.data.ticketkey
        console.log(bookTiket.data.data)
      } else {
        console.log(bookTiket.error)
      }
    }
  },
  mounted() {
    this.getPlaces()
  }
}
</script>

<style scoped>

</style>
