<template>
  <div class="index-wrapper">
    <div class="container">
      <h1>Фільми що в прокаті:</h1>
      <div class="movies-block">
        <small-movie-card v-for="item in movies" :key="item.id" :movie="item"/>
      </div>

    </div>
  </div>
</template>

<script>
import smallMovieCard from "~/components/SmallMovieCard";
export default {
  name: "Cinema",
  components:{smallMovieCard},
  data(){
    return{
      movies:[]
    }
  },
  methods: {
    async getAllMovies() {
      const moviesList = await this.$axios.$get('https://cinema-api-test.y-media.io/v1/movies')
      if (!moviesList.error) {
        this.movies = moviesList.data
        console.log(moviesList.data)
      } else {
        console.log(moviesList.error)
      }
    }
  },
  mounted() {
    this.getAllMovies()
  }
}
</script>

<style  scoped>

</style>
