<template>
  <div class="header-wrapper">
    <ul class="nav-bar">
      <li class="nav-item" v-for="item in nav" :key="nav.id"><nuxt-link :to="item.link">{{ item.name }}</nuxt-link></li>
    </ul>
    <book-tiket v-if="tiketPopup"/>
  </div>
</template>

<script>
import bookTiket from "~/components/BookTiket";
export default {
  name: "Header",
  components:{bookTiket},
  computed:{
    tiketPopup(){
      return this.$store.state.tiketData
    }
  },
  data() {
    return {
      nav: [
        {
          name: 'Головна',
          link: '/',
          id:0
        },
        {
          name: 'Сеанси',
          link: '/sessions',
          id:1
        },
        {
          name: 'Пошук',
          link: '/search',
          id:2
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
