<template>
  <div class="session-item">
    <div class="movie-img">
      <img :src="item.image" :alt="item.name">
    </div>
    <div class="description-wrapper">
      <h2 v-html="item.name"></h2>
      <div v-html="item.description" class="description"></div>
      <!--          <div class="additional" v-html="item.additional"></div>-->
      <h3>Оберіть зручний для вас час:</h3>
      <div class="sessions-list">
        <div v-for="showdate in sessions" class="showdate-item">
          {{showdate.showdate}} :
          <div v-for="dayTime in showdate.daytime.split(';')" @click="bookTiket(showdate.showdate, dayTime)" class="dayTimes">
            {{dayTime}}
          </div>
        </div>

      </div>
    </div>
  </div>


</template>

<script>
export default {
  name: "SessionItem",
  props:['item', 'sessions'],
  methods:{
    bookTiket(showdate, dayTime){
      this.$store.dispatch('setTiketData', {
        'movieId':this.item.id,
        "showdate": showdate,
        "daytime": dayTime
      })
    }
  }
}
</script>

<style scoped>

</style>
