<template>
  <div class="small-movie-card-wrapper">
    <nuxt-link :to="`movie/${movie.id}`">
      <div class="image-block">
        <img :src="movie.image" alt="">
      </div>
      <div v-html="movie.name"></div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: "SmallMovieCard",
  props:['movie']
}
</script>

<style scoped>

</style>
