<template>
  <div class="container">
    <div class="search-block">
      <div class="search-by-name">
        <input v-model="word" type="text">
        <button @click="searchMovie()">Знайти</button>
      </div>
      <div class="search-by-genres">
        <div>Пошук за жанром</div>
          <select @change="searchMovie()" v-model="сhoosenGenre">
            <option v-for="item in genres" :key="item.id" :value="item.id">{{ item.name }}</option>
          </select>
      </div>

    </div>
    <div class="index-wrapper">
      <div class="movies-block">
        <small-movie-card v-for="item in movies" :key="item.id" :movie="item"/>
      </div>
    </div>
  </div>
</template>

<script>
import smallMovieCard from "../../components/SmallMovieCard";
export default {
  name: "index",
  data() {
    return {
      genres: [
        {
          name: 'Бойовики',
          id: 0
        },
        {
          name: 'Пригоди',
          id: 1
        },
        {
          name: 'Комедії',
          id: 2
        },
        {
          name: 'Драми',
          id: 3
        },
        {
          name: 'Фільми жахів',
          id: 4
        },
        {
          name: 'Вестерни',
          id: 5
        }
      ],
      сhoosenGenre: '',
      word: '',
      movies: []
    }
  },
  components:{
    smallMovieCard
  },
  methods:{
    async searchMovie(){
      const movie = await this.$axios.$get(`https://cinema-api-test.y-media.io/v1/movies?name=${this.word}&genres=${this.сhoosenGenre}`)
      if (!movie.error) {
        this.movies = movie.data
        console.log(movie.data)
      } else {
        console.log(movie.error)
      }
    }
  }
}
</script>

<style scoped>

</style>
