@import "mixins";
body{
  background-color: #221f1f;
  color: #fff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;

  @include phone {
    padding: 0 12px;
  }
}
