@import "mixins";
.header-wrapper{
  border-bottom: 1px solid #fff;
  min-height: 38px;
  .nav-bar{
    @include flex-align-start;

    .nav-item{
      text-transform: uppercase;
      list-style: none;
      margin: 0 25px;
      a{
        color: #fff;
        text-decoration: none;
        transition: color 1s;
      }
      a:hover{
        color: #d9b811;

      }
    }
  }
}
