@mixin flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-align-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
@mixin flex-align-spase-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin phone {
  @media only screen and (max-width: 1024px) { @content; }
}
