@import "mixins";
.sessions-wrapper{
  .sessions-block{
    .session-item{
      @include flex-align-start;
      border: 1px solid #fff;
      margin: 8px 0;
      padding: 16px;
      .movie-img{
        width: 250px;
        img{
          width: 100%;
        }
      }
      .description-wrapper{
        max-width: 60%;
        margin-left: 40px;
        h2{
        }
        .description{
        }
        .sessions-list{
          .showdate-item{
            margin: 16px 0;
            @include flex-align-start;
            .dayTimes{
              cursor: pointer;
              margin: 0 12px;
              transition: color 1s;
            }
            .dayTimes:hover{
              color: #d9b811;
            }
          }

        }
      }

    }
  }
}
