.small-movie-card-wrapper{
  cursor: pointer;
  width: 23%;
  transition: width 2s;
  min-height: 580px;
  a{
    text-decoration: none;
    color: white;
  }

  text-align: center;
  font-size: 19px;
  .image-block{
    height: 480px;
    margin-bottom: 18px;
    overflow: hidden;
    img{
      width: 100%;
      transition: opacity 2s, transform 2s;

    }
  }

}
.small-movie-card-wrapper:hover{
  img{
    background-color:rgba(0,0,0,.3);
    opacity: 0.7;
    transform: scale(1.05);
  }
}
