@import "mixins";
.book-tiket-wrapper{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  @include flex-align-center
  .book-tiket-window{
    padding: 22px;
    background-color: white;
    color: black;
    width: 450px;
    @include flex-align-center;
    flex-direction: column;
    .dialog{
      width: 100%;
    }
    .title{
      font-size: 24px;
    }
    .tiket-num{
      font-size: 16px;
      text-align: center;
      margin: 16px 0;
    }
    .date{
      font-size: 21px;
      width: 100%;
      margin: 8px 0;
      @include flex-align-spase-between;
    }
    .time{
      font-size: 21px;
      width: 100%;
      @include flex-align-spase-between;
      margin: 8px 0;
    }
    .row{
      font-size: 21px;
      width: 100%;
      @include flex-align-spase-between;
      margin: 8px 0;
      select{
        width: 40px;
        text-align: center;
      }
    }
    .seat{
      font-size: 21px;
      width: 100%;
      @include flex-align-spase-between;
      margin: 8px 0;
      select{
        width: 40px;
        text-align: center;
      }
    }
    .sb{
      @include flex-align-spase-between;
    }
    .fc{
      @include flex-align-center;
    }
    .buttons{
      width: 100%;
      margin: 8px 0;
      button{
        font-size: 21px;
        padding: 6px 12px;
        border: 1px solid white;
        cursor: pointer;

      }
      .close{
        background-color: red;
        color: white;
      }
      .accept{
        background-color: greenyellow;
        color: white;
      }
    }
  }
}
