@import "mixins";

.movie-card-wrapper {
  margin-top:25px;
  @include flex-align-spase-between
  .img-block {
    width: 30%;
    text-align: center;
    img{
      width: 100%;
      margin-bottom: 25px;
    }
    a{
      text-decoration: none;
      background-color: greenyellow;
      color: grey;
      padding: 7px 12px;
      font-size: 18px;
    }
  }
  .content{
    width: 70%;
    padding: 24px;
    .additional{
      ul{
        list-style: none;
        padding: 0;
        li{
          @include flex-align-start;
          p{
            margin: 6px 0;
          }
          .key{
            min-width: 150px;
          }
          .val{
            @include flex-align-start;
          }
        }
      }
    }
  }
}
