@import "mixins";
.search-block{
  @include flex-align-center;
  margin: 8px 0;
  .search-by-name{
    margin-right: 100px;
    input{
      padding: 6px;
    }
    button{
      padding: 6px;
      cursor: pointer;
    }
  }
  .search-by-genres{
    @include flex-align-center;
    select{
      margin-left: 16px;
    }
  }
}
