<template>
  <div class=" container">
    <div v-if="movie" class="movie-card-wrapper">
      <div class="img-block">
        <img :src="movie.image" :alt="movie.name">
        <nuxt-link :to="`/sessions/${movie.id}`">Замовити квиток</nuxt-link>
      </div>
      <div class="content">
        <h1 v-html="movie.name"></h1>
        <div class="description" v-html="movie.description"></div>
        <div class="additional" v-html="movie.additional">

        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "index",
  data() {
    return {
      movie: null
    }
  },
  methods: {
    async getMovie() {
      const movie = await this.$axios.$get(`https://cinema-api-test.y-media.io/v1/movies?movie_id=${this.$route.params.id}`)
      if (!movie.error) {
        this.movie = movie.data[0]
        console.log(movie.data)
      } else {
        console.log(movie.error)
      }
    }
  },
  mounted() {
    this.getMovie()
  }
}
</script>

<style scoped>

</style>
