<template>
<div class="sessions-wrapper container">
  <div class="sessions-block">
    <session-item v-if="movie && sessions" :item="movie" :sessions="sessions[this.$route.params.id]" />
  </div>
</div>
</template>

<script>
import sessionItem from "~/components/SessionItem";
export default {
  name: "index",
  data() {
    return {
      movie: null,
      sessions:null
    }
  },
  components:{
    sessionItem
  },
  methods: {
    async getMovie() {
      const movie = await this.$axios.$get(`https://cinema-api-test.y-media.io/v1/movies?movie_id=${this.$route.params.id}`)
      if (!movie.error) {
        this.movie = movie.data[0]
        console.log(movie.data)
      } else {
        console.log(movie.error)
      }
    },
    async getSessions(){
      const sessionsList = await this.$axios.$get(`https://cinema-api-test.y-media.io/v1/movieShows?movie_id=${this.$route.params.id}`)
      if (!sessionsList.error) {
        this.sessions = sessionsList.data
        console.log(sessionsList.data, 'sessions')
      } else {
        console.log(sessionsList.error)
      }
    },
  },
  mounted() {
    this.getMovie()
    this.getSessions()
  }
}
</script>

<style scoped>

</style>
